# SPDX-FileCopyrightText: d-k-bo <d-k-bo@mailbox.org>
# SPDX-License-Identifier: CC0-1.0

/_build
/.env/
/.flatpak
/.flatpak-builder
/src/config.rs
/target
/subprojects/blueprint-compiler
/data/gschemas.compiled
/data/resources/gtk/help-overlay.ui
/data/resources/de.k_bo.Televido.metainfo.xml